/*--google fonts----*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #e7f2fd;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 10px 20px;
    color: white;
}

nav .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 21px;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}


/*- Navigation Design End--*/

.container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
}

.filter-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button.active {
    background: #4070f4;
    color: #fff;
}

.filter-card {
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    
}
.card.hide{
display: none;
}

.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 15px 20px 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.card-description {
    font-size: 18px;
    color: #333;
}


@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav .menu-toggle {
        display: flex;
    }

    .products {
        justify-content: center;
    }

    .product {
        width: 150px;
    }
}

/* Tablet view */
@media (max-width: 1024px) {
    .products {
        justify-content: space-between;
    }

    .product {
        width: 200px;
    }
}